.button {
  /* box model */
  display: block;
  width: 100%;
  padding: 1.125rem;

  /* border */
  border: 1px solid var(--black);

  /* typography */
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;

  /* visual */
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover {
  /* typography */
  color: var(--white);

  /* visual */
  background-color: var(--black);
}

.button:active {
  /* visual */
  opacity: 0.5;
}

@media (min-width: 1200px) {
  .button {
    /* box model */
    padding: 1.5rem;
  }
}
