.cart {
  /* box model */
  padding-bottom: 2.25rem;
}

.cart__login {
  /* box model */
  margin-bottom: 2rem;
}

.cart__total {
  /* box model */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  /* typography */
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 1200px) {
  .cart {
    /* box model */
    padding-right: calc(50% + 3.125rem);
  }
}
