.cart {
  /* positioning */
  position: relative;

  /* box model */
  padding-bottom: 2.25rem;
}

.cart__login {
  /* box model */
  margin-bottom: 2rem;
}

.cart__total {
  /* box model */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  /* typography */
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 1200px) {
  .cart {
    /* box model */
    padding-right: calc(50% + 3.125rem);
  }

  .cart__map {
    /* positioning */
    position: absolute;
    top: 0;
    right: 0;

    /* box model */
    width: 50%;
  }

  .cart__total {
    /* positioning */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    /* box model */
    padding: 2.8125rem 1.875rem;

    /* typography */
    color: var(--white);
    font-size: 2.5rem;

    /* visual */
    background-color: rgba(0, 0, 0, 0.8);
  }
}
