.form {
  /* box model */
  margin-bottom: 2.25rem;
}

@media (min-width: 1200px) {
  .form {
    /* box model */
    margin-bottom: 4.375rem;
  }

  .form__fieldset {
    /* box model */
    display: flex;
    justify-content: space-between;
    gap: 2.1875rem;
  }
}
