body {
  /* variables */
  --white: #ffffff;
  --black: #000000;
  --grey-1: #9f9f9f;
  --grey-2: #dedede;
  --error: #d80909;

  /* typography */
  color: var(--black);
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 20px = 1.125rem */
/* 28px = 1.75rem */
/* 40px = 2.25rem */
/* 50px = 3.125rem */
