.header-top {
  /* box model */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.25rem;
}

.header-top__logo {
  /* box model */
  height: 1.5rem;
  margin: 0 auto;
}

.header-top__logo img {
  /* box model */
  height: 100%;
}
