.input {
  /* positioning */
  position: relative;
  flex-grow: 1;

  /* box model */
  margin-bottom: 1rem;
}

.input__field {
  /* box model */
  width: 100%;
  padding: 1.125rem 0;
  padding-bottom: 0.5625rem;

  /* border */
  border: none;
  border-bottom: 1px solid var(--grey-1);

  /* typography */
  line-height: 1;
}

.input__field:focus {
  /* visual */
  outline: none;
}

.input__label {
  /* positioning */
  position: absolute;
  left: 0;
  top: 1.125rem;
  z-index: 2;

  /* typography */
  color: var(--grey-1);
  line-height: 1;

  /* visual */
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}

.input--filled .input__label, 
.input__field:focus + .input__label {
  /* positioning */
  top: 0;

  /* typography */
  font-size: 0.75rem;
}

.input--invalid .input__field{
  /* border */
  border-bottom: 1px solid var(--error);

  /* typography */
  color: var(--error);
}

.input--invalid .input__label {
  /* typography */
  color: var(--error);
}

.input__field:read-only {
  /* visual */
  cursor: pointer;
}

