.item {
  /* box model */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  /* border */
  border-bottom: 1px solid var(--grey-2);
}

.item__image {
  /* box model */
  height: 5rem;
  width: 5rem;
  flex-shrink: 0;
  margin-right: 0.75rem;
}

.item__image img {
  /* box model */
  height: 100%;
  width: 100%;
}

.item__content {
  /* box model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.item__header {
  /* box model */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item__title {
  /* box model */
  margin-bottom: 0.625rem;
  margin-right: 1rem;

  /* typography */
  font-size: 1rem;
  line-height: 1.25 ;
}

.item__price {
  /* typography */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  white-space: nowrap;
}

.item__description {
  /* box model */
  display: none;
}

.item__footer {
  /* box model */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item__remove {
  /* border */
  border: none;

  /* typography */
  color: var(--grey-1);
  font-size: 0.75rem;
  text-decoration: underline;

  /* visual */
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.item__remove:hover {
  /* typography */
  color: var(--black);
}


@media (min-width: 1200px) {
  .item {
    /* box model */
    margin-bottom: 1.5625rem;
    padding-bottom: 1.5625rem;
    padding-right: 2.875rem;
  }

  .item:last-of-type {
    /* box model */
    padding-bottom: 0;

    /* border */
    border-bottom: none;
  }

  .item__image {
    /* box model */
    height: 9.375rem;
    width: 9.375rem;
    margin-right: 1.25rem;
  }

  .item__title {
    /* box model */
    margin-right: 1.8125rem;

    /* typography */
    font-size: 1.25rem;
  }

  .item__price {
    /* typography */
    font-size: 1.25rem;
  }

  .item__description {
    /* box model */
    display: block;
    margin-bottom: 1.25rem;
    padding-right: calc(50% - 2rem);

    /* typography */
    color: var(--grey-1);
  }

  .item__remove {
    /* typography */
    font-size: 0.875rem;
  }
}
